.form{
    /* border: solid 1px; */
    width: 40%;
    margin: 0 auto;

}
.form > input{
    padding: 10px 16px;
    width: 70%;
    border: solid 1px #e2e2e2;
    border-radius: 5px;
   

}

.login-button{

    background-color: #ecc19c;
      padding: 20px;
    height: 5px;
    font-size: 20px;
   
}



